<!DOCTYPE html>
<html>
  <head>
    <title>Stadium Manager Profile</title>
  </head>
  <body>
    <h1>Welcome, <%= username %>!</h1>

    <h2>Stadium Details</h2>
    <h4>Stadium Name: <%= stadium.stadium_name %> </h4>
    <ul>
      <li> stadium id : <%= stadium.stadium_id %></li>
      <li> stadium location : <%= stadium.stadium_location %></li>
      <li> stadium capacity : <%= stadium.stadium_capacity %></li>
      <li> stadium status : <%= stadium.stadium_status %></li>
    </ul>
    <hr>

    <h2>Requests</h2>

    <hr>

    <form action="/logout" method="get">
      <button type="submit">Logout</button>
  </body>
</html>
