<!DOCTYPE html>
<html>
  <head>
    <title>Stadium Manager Profile</title>
  </head>
  <body>
    <h1>Welcome, <%= username %>!</h1>

    <h2>Stadium Details</h2>
    <h4>Stadium Name: <%= stadium.stadium_name %> </h4>
    <ul>
      <li> stadium id : <%= stadium.stadium_id %></li>
      <li> stadium location : <%= stadium.stadium_location %></li>
      <li> stadium capacity : <%= stadium.stadium_capacity %></li>
      <li> stadium status : <%= stadium.stadium_status %></li>
    </ul>
    <hr>

    <h2>Requests</h2>
    <% for(let i=0; i< requests.length; i++) { %>
      <li>
        Representative Name: <%= requests[i].representative_name %> <br>
        <%= requests[i].club_name[0] %> vs. <%= requests[i].club_name[1] %> <br>
       start time: <%= requests[i].start_time %> <br>
       end time: <%= requests[i].end_time%>
          <form action= "/stadiumManager/acceptRequest/<%= requests[i].representative_name %>/<%= requests[i].club_name[0] %>/<%= requests[i].club_name[1] %>/<%= Date.parse(requests[i].start_time) / 1000 %>" method="POST" id="acceptRequestForm">
            <button type="submit" >Accept Request</button>
          </form>
          <form action= "/stadiumManager/rejectRequest/<%= requests[i].representative_name %>/<%= requests[i].club_name[0] %>/<%= requests[i].club_name[1] %>/<%= Date.parse(requests[i].start_time) / 1000 %>" method="POST" id="rejectRequestForm">
            <button type="submit" >Reject Request</button>
          </form>
      </li>
   <% } %>

    <hr>

    <form action="/logout" method="get">
      <button type="submit">Logout</button>
  </body>
</html>
