<!DOCTYPE html>

<html>
  <head>
    <title>Club Representative</title>
  </head>
  <body>
    <h1>Welcome, <%= username %>!</h1>

    <!-- <h2>Stadium Details</h2>
    <h4> <%= club.stadium_name %> </h4>
    <ul>
      <li> stadium id : <%= stadium.stadium_id %></li>
      <li> stadium location : <%= stadium.stadium_location %></li>
      <li> stadium capacity : <%= stadium.stadium_capacity %></li>
      <li> stadium status : <%= stadium.stadium_status %></li>
    </ul>
    <hr> -->

  </body>
</html>
