<!DOCTYPE html>

<html>
  <head>
    <title>Club Representative</title>
  </head>
  <body>
    <h1>Welcome, <%= username %>!</h1>

    <h2>Club Details</h2>
    <h4>Club Name:  <%= club.club_name %> </h4>
    <ul>
      <li> club id : <%= club.club_id %></li>
      <li> club location : <%= club.club_location %></li>
    </ul>

    <hr>


    <h2>Upcoming Matches</h2>
    <form action="/clubRepresentative/view-upcoming-matches" method="POST">
    <ul>
      <% for(let i=0; i< matches.length; i++) { %>
        <li>
          <%= matches[i].club_name[0] %> vs. <%= matches[i].club_name[1] %> <br> start time: <%= matches[i].start_time %> <br> end time: <%= matches[i].end_time%>
          <% if(matches[i].stadium_name) { %>
            <br> stadium: <%= matches[i].stadium_name %>
          <% } else{ %>  
            <br>
            <form action="/clubRepresentative/view-upcoming-matches"method="POST">
              <button type="submit">Send Request to Stadium </button>
            </form> 
          <% } %>
        </li>
     <% } %>
    </ul>
    <button type="submit">View Upcoming Matches</button>
    </form>
    <hr>

    <h2>Available Stadiums</h2>
    <form action="/clubRepresentative/view-available-stadiums" method="POST">
      <input type="text" id="date" name="date" required/>
      <input type="text" id="time" name="time" required/>
      <button type="submit">Submit</button>
    </form>
    <% if(stadiums){ %>
      <ul>
      <% stadiums.forEach(function(stadium) { %>
        <li>
          Stadium Name:<%= stadium.stadium_name %> <br> Stadium Location: <%= stadium.stadium_location %> <br> Stadium Capacity: <%= stadium.stadium_capacity %>
        </li>
      <% }); %>
      </ul>
    <% } %>

    <hr>

    <form action="/logout" method="get">
      <button type="submit" >Logout</button>
  </body>
</html>
