<!DOCTYPE html>

<html>
  <head>
    <title>Sports Manager</title>
  </head>
  <body>
    <h1>Sports Manager</h1>

    <h2>Add a new match</h2>
    <form action="/sportsAssociationManager/add-match" method="post">
      <label for="host-club-name">Host club name:</label><br />
      <input type="text" id="host-club-name" name="hostClubName" /><br />
      <label for="guest-club-name">Guest club name:</label><br />
      <input type="text" id="guest-club-name" name="guestClubName" /><br />
      <label for="start-time">Start time:</label><br />
      <input type="text" id="start-time" name="startTime" /><br />
      <label for="end-time">End time:</label><br />
      <input type="text" id="end-time" name="endTime" /><br />
      <br />
      <input type="submit" value="Add match" />
    </form>

    <h2>Delete a match</h2>
    <form action="/sportsAssociationManager/delete-match" method="post">
      <label for="host-club-name">Host club name:</label><br />
      <input type="text" id="host-club-name" name="hostClubName" /><br />
      <label for="guest-club-name">Guest club name:</label><br />
      <input type="text" id="guest-club-name" name="guestClubName" /><br />
      <label for="start-time">Start time:</label><br />
      <input type="text" id="start-time" name="startTime" /><br />
      <label for="end-time">End time:</label><br />
      <input type="text" id="end-time" name="endTime" /><br />
      <br />
      <input type="submit" value="Delete match" />
    </form>

    <h2>View all upcoming matches</h2>
    <form
      action="/sportsAssociationManager/view-upcoming-matches"
      method="post"
    >
      <input type="submit" value="View upcoming matches" />
      <% if(upcoming_matches) { %>
      <ul>
        <% upcoming_matches.forEach(function(match) { %>
        <p>Host Club Name:</p>
        <li><%= match.host_club_name %></li>
        <p>Guest Club Name:</p>
        <li><%= match.guest_club_name %></li>
        <p>Match Start Time:</p>
        <li><%= match.start_time %></li>
        <p>Match End Time:</p>
        <li><%= match.end_time %></li>
        <% }); %>
      </ul>
      <% } %>
    </form>

    <h2>View already played matches</h2>
    <form action="/sportsAssociationManager/view-played-matches" method="post">
      <input type="submit" value="View played matches" />
      <% if(played_matches) { %>
      <ul>
        <% played_matches.forEach(function(match) { %>
        <p>Host Club Name:</p>
        <li><%= match.host_club_name %></li>
        <p>Guest Club Name:</p>
        <li><%= match.guest_club_name %></li>
        <p>Match Start Time:</p>
        <li><%= match.start_time %></li>
        <p>Match End Time:</p>
        <li><%= match.end_time %></li>
        <% }); %>
      </ul>
      <% } %>
    </form>

    <h2>View pair of club names who never scheduled to play with each other</h2>
    <form
      action="/sportsAssociationManager/view-never-played-clubs"
      method="post"
    >
      <input type="submit" value="View never played clubs" />
      <% if(never_played_clubs) { %>
      <ul>
        <% never_played_clubs.forEach(function(club) { %> <% if(club) { %>
        <li><%= club.host_club_name %> vs. <%= club.guest_club_name %></li>
        <% } %> <% }); %>
      </ul>
      <% } %>
    </form>
    <form action="/logout" method="get">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
